.main {
color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  z-index: 100;

.h {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  word-break: break-word;
  hyphens: auto;
  position: relative;
  color:#000; font-size: 240px; line-height:200px;
 }

  .bg {
    content: "";
    background: url("/1bit.jpg")no-repeat;
    mix-blend-mode: multiply;
    position:absolute;
    top:0;
    left: 0; right:0;bottom:0;
    opacity:0.7;
  }
}

.main:before {

}
